AUTH_TOKEN=your_secret_secure_token_here
ALLOWED_DOMAINS=youtube.com,youtu.be
DOWNLOAD_DIR=downloads
SERVER_DOMAIN=
LOG_FILE=logs/app.log
VOD_FORMAT=bv*[ext=mp4]+ba[ext=m4a]/b[ext=mp4] / bv*+ba/b
VOD_PROXY=http://127.0.0.1:7890